# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

~*
*~

*.swp
*.swo
*.o
*.d
*.exe

# Visual Studio files
*.sdf
*.opensdf
*.vcxproj.user
*.suo
ipch
obj
*.vsp
*.vspx
*.psess
*.tlog
*.lastbuildstate
*.pch
*.idb
*.pdb
*.log
*.unsuccessfulbuild
*.csproj.user

# Compiled binaries
/snap
/unit_tests
/SNAPCommand
/SNAP
/snap-aligner
/apps/GrovelPileups/bin
/apps/SplitIntoPieces/bin
/apps/FilterVCF/bin
/apps/SplitIntoChromosomes/bin
/apps/AllExpression/bin
/apps/ComputeP53Levels/bin
/apps/ColumnizeSam/bin
/apps/ProcessVCFs/bin
/apps/QuickNDirtyMakeExpressionScript/bin
/apps/ResortConcatenatedGermlineVariants/bin
/apps/CancerSpecificExpression/bin
/apps/RegionalExpression/bin
/apps/GenerateScatterGraphs/bin
/apps/ExpressionNearMutations/bin

/apps/ExpressionMetadata/bin/x64/Debug
/apps/ExpressionMetadata/bin/x64/Release/ExpressionMetadata.exe.config
/apps/ExpressionMetadata/bin/x64/Release/ExpressionMetadata.vshost.exe.config
/apps/ExpressionMetadata/bin/x64/Release/ExpressionMetadata.vshost.exe.manifest
/apps/ExpressionMetadata/bin/Release/*
/apps/ExpressionMetadata/bin/x64/Release/ExpressionMetadata.exe

apps/MannWhitney/bin/Release/MannWhitney.exe.config
apps/MannWhitney/bin/Release/MannWhitney.vshost.exe.config
apps/MannWhitney/bin/Release/MannWhitney.vshost.exe.manifest
apps/MannWhitney/bin/Release/MathNet.Numerics.dll
apps/MannWhitney/bin/Release/MathNet.Numerics.xml


apps/GenerateScatterGraphs/bin/x64/Debug/
apps/GenerateScatterGraphs/bin/Release/
apps/GenerateScatterGraphs/bin/x64/Release/GenerateScatterGraphs.exe.config
apps/GenerateScatterGraphs/bin/x64/Release/GenerateScatterGraphs.vshost.exe.config
apps/GenerateScatterGraphs/bin/x64/Release/GenerateScatterGraphs.vshost.exe.manifest
apps/GenerateScatterGraphs/bin/x64/Release/GenerateScatterGraphs.exe

apps/ExpressionLib/bin/
apps/ExpressionMetadata/bin/x64/Release/ExpressionLib.dll




