# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

~*
*~

*.swp
*.swo
*.o
*.d
*.exe

# Visual Studio files
*.sdf
*.opensdf
*.vcxproj.user
*.suo
ipch
obj
*.vsp
*.vspx
*.psess
*.tlog
*.lastbuildstate
*.pch
*.idb
*.pdb
*.log
*.unsuccessfulbuild
.vs
enc_temp_folder

# Compiled binaries
/snap
/unit_tests
/SNAPCommand
/SNAP
/snap-aligner
/snapxl-aligner